openapi: 3.2.0
info:
  title: 1Forge Forex Data Convert Quotes API
  description: '1Forge provides real-time bid and ask quote data for 700+ forex and cryptocurrency

    currency pairs, delivered with FIX-grade speed over a simple JSON REST API. The

    REST surface covers five operations: list available symbols, fetch quotes for one

    or more pairs, convert a quantity between two currencies, check whether the market

    is currently open, and inspect remaining quota for the calling API key.


    1Forge connects directly to brokers and liquidity providers and serves traffic from

    four global edge locations (Oregon, Virginia, Taiwan, Belgium). Streaming over

    WebSocket is documented separately in `asyncapi/1forge-forex-stream-asyncapi.yml`.'
  version: '2024.01'
  contact:
    name: 1Forge Support
    email: contact@1forge.com
    url: https://1forge.com/forex-data-api
  license:
    name: 1Forge Forex API Terms of Use
    url: https://1forge.com/terms
  termsOfService: https://1forge.com/terms
  x-generated-from: documentation
  x-last-validated: '2026-05-28'
servers:
- url: https://api.1forge.com
  description: 1Forge production REST endpoint (auto-routed to nearest edge).
security:
- ApiKeyAuth: []
tags:
- name: Quotes
  description: Real-time bid/ask quote data for forex and cryptocurrency pairs.
paths:
  /quotes:
    get:
      operationId: getQuotes
      summary: 1Forge Get Quotes for Pairs
      description: 'Returns the latest bid, ask, and price data for one or more currency pairs.

        Pairs are supplied as a comma-separated list. Either `EUR/USD` or `EURUSD`

        notation is accepted. Responses are an array of `Quote` objects in the order

        the pairs were requested.'
      tags:
      - Quotes
      parameters:
      - name: pairs
        in: query
        required: true
        description: Comma-separated list of currency pair symbols (e.g. `EUR/USD,GBP/JPY,AUD/USD`).
        schema:
          type: string
        example: EUR/USD,GBP/JPY,AUD/USD
      - name: api_key
        in: query
        required: true
        description: Your 1Forge API key. Obtain one at https://1forge.com.
        schema:
          type: string
        example: YOUR_API_KEY
      responses:
        '200':
          description: Array of `Quote` records, one per requested currency pair.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
              examples:
                GetQuotes200Example:
                  summary: Default getQuotes 200 response
                  x-microcks-default: true
                  value:
                  - s: EUR/USD
                    p: 1.181
                    b: 1.18099
                    a: 1.18101
                    t: 1502160794
                  - s: GBP/JPY
                    p: 144.3715
                    b: 144.368
                    a: 144.375
                    t: 1502160794
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Quote:
      title: Quote
      description: A single bid/ask/price snapshot for a forex or cryptocurrency pair.
      type: object
      required:
      - s
      - p
      - b
      - a
      - t
      properties:
        s:
          type: string
          description: Currency pair symbol in `BASE/QUOTE` notation.
          example: EUR/USD
        p:
          type: number
          format: double
          description: Last traded price (midpoint of bid/ask).
          example: 1.181
        b:
          type: number
          format: double
          description: Current bid price.
          example: 1.18099
        a:
          type: number
          format: double
          description: Current ask price.
          example: 1.18101
        t:
          type: integer
          format: int64
          description: Unix epoch timestamp (seconds) of the quote.
          example: 1502160794
    Error:
      title: Error
      description: Generic error returned when authentication fails or the request is invalid.
      type: object
      required:
      - error
      - message
      properties:
        error:
          type: boolean
          description: Always true for error responses.
          example: true
        message:
          type: string
          description: Human-readable error description.
          example: API Key Not Valid. Please go to 1forge.com to get an API key.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
      description: '1Forge requires an API key passed as the `api_key` query parameter on every

        request. Obtain a key at https://1forge.com.'
